
@media (max-width: 992px) {
    .feedback-container{
        flex-direction: column;
        gap: 30px;
    }
    .feedLeft{
        width: 100%;
    }
    .wrapper .carousel{
        padding: 0 0px;
    }
    .feedRight{
        width: 100%;
    }
}
@media (max-width:768px) {
    .nav-wrapper{
        top: 60px;
    }
    .drop-menu{
        position: static;
        opacity: 1;
        visibility: visible;
        max-height: 0;
        padding: 0;
        overflow: hidden;
    }
    #show-drop:checked ~ .drop-menu{
        max-height: 100%;
        margin-top: 20px;
    }
    .drop-menu{
       transition: none;
       -webkit-transition: none;
       -moz-transition: none;
       -ms-transition: none;
       -o-transition: none;
}
    .nav-menu{
        position: fixed;
        top: 130px;
        left: -100%;
        width: 100%;
        background-color: #ffffff;
    }
    .nav-menu.active{
        left: 0;
    }
    .hamburger.active .line:nth-child(1){
        transform: translateY(9px) rotate(225deg);
    }
    .hamburger.active .line:nth-child(2){
        background: transparent;
    }
    .hamburger.active .line:nth-child(3){
        transform: translateY(-9px) rotate(-225deg);
    }
    .nav-menu li{
        display: block;
       margin-left: 20px;
       margin-top: 20px;
       margin-bottom: 20px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .desktop-item{
        display: none;
    }
    .mobile-item{
        font-size: 1.4rem;
        color: #222222;
        display: block;
        cursor: pointer;
    }
    .nav-menu li:hover i{
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
}
    .hero-container p {
        width: 100%;
    }
    .service-container{
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }
    .serviceBoxs p{
        width: 100%;
    }
    .container{
        padding: 0 20px;
    }
    .market-container{
        row-gap: 30px;
        grid-template-columns: repeat(2,1fr);
    }
    .number{
        height: auto;
    }
    .number-container{
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
        padding: 100px 0px;
    }
    .blog-container{
        grid-template-columns: repeat(2,1fr);
    }
    .about-container {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .footer-container {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 50px;
    }
    .foot-items:nth-child(3){
        justify-self: start;
    }
    .hero-about-content h2 {
        font-size: 4rem;
    }
    .contact-container{
        grid-template-columns: repeat(1,1fr);
    }
    .contactLeft {
        padding: 10px;
    }
}
@media (max-width:568px) {
    .navbar{
        justify-content: space-between;
    }
    .nav-menu{
        top: 70px;
    }
    .nav-menu li{
       margin-left: 10px;
    }
    .head{
        display: none;
    }
    .nav-wrapper{
        top: 0px;
    }
    .hero-container h1 {
        font-size: 4.2rem;
        text-align: center;
    }
    .hero-container p {
        width: 100%;
    }
    .container{
        padding: 0 10px;
    }
    .service{
        padding-bottom: 50px;
    }
    .service-container{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .serviceBoxs h2{
        font-size: 1.6rem;
    }
    .about-container h2 {
        font-size: 3rem;
        width: 100%;
        color: #222222;
    }
    .aboutRight h3 {
        font-size: 1.4rem;
        letter-spacing: 0.5px;
    }
    .btn {
        font-size: 1.4rem;
    }
    .serviceBoxs p{
        font-size: 1.4rem;
    }
    .market-container{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
        text-align: center;
    }
    .number{
        height: auto;
    }
    .number-container{
        grid-template-columns: 1fr;
        row-gap: 50px;
        padding: 100px 0px;
    }
    .wrapper .carousel{
        padding: 0 10px;
    }
    .blog-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .project-container {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 30px;
        display: block;
    }
    footer{
        height: auto;
        padding-top: 50px;
    }
    .footer-container {
        grid-template-columns:  1fr;
        justify-content: start;
    }
    .foot-items:nth-child(1) {
        column-gap: 30px;
    }
    
    .foot-items:nth-child(3) {
        justify-self: start;
    }
    
    .footer-bottom{
        padding: 50px 10px;
        padding-bottom: 0px;
    }
    .title h2 {
        font-size: 3rem;
        color: #222222;
        font-weight: 600;
    }
    
    .title p {
        font-size: 1.4rem;
        color: #777777;
    }
    .feed-info h3{
        font-size: 1.6rem;
    }
    .feed-info ul a{
        font-size: 1.4rem;
    }
    .card p{
        font-size: 1.4rem;
    }
    .hero-about-content h2 {
        font-size: 3rem;
    }
    .hero-about-link a {
        font-size: 1.4rem;
    }
}
@media (max-width:380px){
    .aboutRight{
        width: 95%;
        padding: 20px;
    }
} 